<div class="row my-5">
  <div class="col-12">
    <div class="container top-page">
      <div id="about">
        <h1 class="big-header">Luca Vigotti </h1>
        <h1 class="small-header">Front-End Developer</h1>
        <p>I'm passionate about design and aim at expressing myself through it.</p>
      </div>
      <div id="profile-picture">
        <%= image_tag 'profile-picture.JPG', alt: "profile photo", class:"profile-picture" %>
      </div>
    </div>
  </div>
</div>
