<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h1 class="big-header">Luca Vigotti </h1>
        <h1 class="small-header">Front-End Developer</h1>
        <p>I'm ....</p>
      </div>
    </div>
  </div>
</div>
