<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100" style="background-image: url(https://images.pexels.com/photos/957000/berchtesgaden-alpine-watzmann-berchtesgaden-national-park-957000.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">
    <%= image_tag 'placeholder.png', alt: "profile photo", class: 'avatar' %>
    <h1 class="title-main">Portfolio</h1>
  </div>
</div>
