<div class="top-page">
  <div class="top-left">
    <div class="top-left-shape"></div>
    <div id="profile-picture">
      <%= image_tag 'projects/logos/profile-picture.JPG', alt: "profile photo"%>
    </div>
  </div>
  <div class="top-right">
    <h2> <span id="greeting">Hello</span> everyone. I'm <span>Luca Vigotti</span>,<br>
      a <span>Front-End Developer</span>.
    </h2>
    <p>I'm passionate about designing and building web applications.</p>
    <div class="download-btn">
      <a href="/data/luca-resume.pdf" download>
        <span class="btn-text">Download CV <i class="fa-solid fa-download"></i></span>
      </a>
    </div>
  </div>
</div>
