.button-social {
  padding: 0 16px;
  position: relative;
  font-size: 40px;
  color: white;

  &:hover {
    opacity: 0.7;
  }
}

.button-social-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-btn {
  margin-top: 3rem;
  margin-left: 14.5rem;
}

.main-btn span {
  background-color: #A31621;
  color: #FCF7F8;
  border-radius: 4px;
  padding: 8px 16px;
  transition-duration: 0.4s;

}

.main-btn span:hover {
  background-color: #FCF7F8;
  color: #A31621;
  border: 1px solid #A31621;
}
