.button-social {
  padding: 0 16px;
  position: relative;
  font-size: 40px;
  color: white;

  &:hover {
    opacity: 0.7;
  }
}

.button-social-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-btn {
  display: flex;
  justify-content: center;
}

.main-btn span {
  background-color: var(--color-red);
  color: var(--color-bg);
  border-radius: 4px;
  padding: 8px 16px;
  transition-duration: 0.4s;

}

.main-btn span:hover {
  background-color: var(--color-bg);
  color: var(--color-red);
  border: 1px solid var(--color-red);
}
