* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.about-page {

  h2 {
    text-align: center;
    color: var(--color-text);
    text-shadow: 0 1px 1px;

    span {
      color: var(--color-red);
    }
  }

  p {
    text-align: justify;
    transition: all .4s ease-in-out;
    text-shadow: 0 1px 1px;
    // width: 80%;
  }
}

.about {
  color: var(--color-text);
  text-shadow: 0 1px 1px;
  // display: flex;
  // justify-content: center;
}

.skills {
  margin-top: 2rem;
  margin-bottom: 2rem;

  h1 {
    text-align: center;
    color: var(--color-text);
    text-shadow: 0 1px 1px;

    span {
      color: var(--color-red);
    }
  }
}

.logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 4rem 10rem;
  justify-content: space-evenly;
  transition: all .4s ease-in-out;
  margin: 2rem auto;

  img {
    width: 80px;
  }
}
