.contact-container {
  height: 100vh;
  overflow: hidden;

  h2 {
    text-align: center;
    color: var(--color-text);
    text-shadow: 0 1px 1px;

    span {
      color: var(--color-red);
    }
  }

  h4,
  p {
    color: var(--color-text);
    text-shadow: 0 1px 1px;
  }
}

.title-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .home-btn {
    font-size: 30px;
    margin-top: 17px;
    margin-left: 6px;


    & :hover {
      background-color: none;
      color: var(--color-red);
    }
  }
}

.contact-content {
  display: flex;
  padding-top: 3.5rem;

  .left-contact {
    flex: 2;

    h4 {
      margin-top: 1rem;
    }

    p {
      margin: 1rem 0;
      line-height: 2rem;
    }
  }

  .right-contact {
    flex: 3;
    margin-left: 3rem;

    .input-control {
      margin: 1.5rem 0;

      input,
      textarea {
        border-radius: 30px;
        font-weight: inherit;
        font-size: inherit;
        font-family: inherit;
        padding: .8rem 1.1rem;
        outline: none;
        border: none;
        width: 100%;
        resize: none;
        color: var(--color-bg);
        background-color: var(--color-red);

      }
    }

    .input-control2 {
      display: flex;

      :last-child {
        margin-left: 1.5rem;
      }
    }
  }
}

::placeholder {
  color: var(--color-bg);
}

button {
  border: none;
}
