// Specific CSS for your home-page
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  color: #C9CAD9;
  background-color: #FCF7F8;
  font-family: 'Rubik', sans-serif;
  font-size: 1.1rem;
  transition: all .4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  height: 100vh;
  color: #A31621;
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.section {
  transform: translateY(-100%);
  transition: all .4s ease-in-out;

}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);

}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);

}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);

}

.sec4 {
  display: none;
  transform: translateY(0) scale(1);

}

.sec5 {
  display: none;
  transform: translateY(0) scale(1);


}

.active {
  display: block;
  animation: scaleAnim 1s ease-in-out;

  @keyframes scaleAnim {
    0% {
      transform: translateY(-100%) scaleY(0);
    }

    100% {
      transform: translateY(0) scaleY(1);
    }
  }
}

// Controls
.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);

  .active-btn {
    background-color: #A31621 !important;
    transition: all .4s ease-in-out;

    i {
      color: #FCF7F8;
    }
  }

  .control {
    padding: 1rem;
    cursor: pointer;
    color: #FCF7F8;
    background-color: #CED3DC;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .7rem 0;
    box-shadow: 0 2px 2px #A6A2A2;

    i {
      font-size: 1.2rem;
      pointer-events: none;
    }
  }
}

//Background shape

.top-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;

  .top-left {
    position: relative;
    display: flex;
    align-items: center;

    .top-left-shape {
      transition: all .4s ease-in-out;
      position: absolute;
      width: 100%;
      height: 100vh;
      background-color: #A31621;
      clip-path: polygon(100% 0, 0 0, 0 100%);
      z-index: -1;
    }

    #profile-picture {
      height: 60%;
      width: 60%;
      margin-left: 10rem;
      transition: all .4s ease-in-out;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .4s ease-in-out;
        border-radius: 50%;
      }
    }
  }
}


.top-right {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    color: #A6A2A2;
    text-shadow: 0 1px 1px;
  }


  span {
    color: #A31621;

  }

  p {
    color: #A6A2A2;
    line-height: 2rem;
    text-shadow: 0 1px 1px;
  }

}

.download-btn {
  margin-top: 3rem;
  margin-left: 10rem;
}

.download-btn span {
  background-color: #A31621;
  color: #FCF7F8;
  border-radius: 4px;
  padding: 8px 16px;
  transition-duration: 0.4s;

}

.download-btn span:hover {
  background-color: #FCF7F8;
  color: #A31621;
  border: 1px solid #A31621;
}
