* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}


#portfolio {

  h2 {
    text-align: center;
    color: var(--color-text);
    text-shadow: 0 1px 1px;
    margin-bottom: 2rem;

    span {
      color: var(--color-red);
    }
  }
}

.project-title {
  text-align: center;
  text-shadow: 0 1px 1px;
  margin-bottom: 2rem;
  margin-top: 3rem;
  color: var(--color-text);

  span {
    color: var(--color-red);
  }
}

.project-description {
  p {
    padding-left: 7rem;
    padding-right: 7rem;
  }


}

.project-description,
.project-content {
  text-align: justify;
  text-shadow: 0 1px 1px;
  color: var(--color-text);

  span {
    color: var(--color-red);
    font-size: 25px;
  }
}

.project-content {
  margin: 2rem auto;
}

.step {
  margin: 8rem auto;
  display: flex;
  align-items: center;
}

.screenshot {
  margin: 0px 25px;

  img {
    width: 600px;
    height: 278px;
  }
}

.reveal {
  position: relative;
  transform: translateX(-150px) !important;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.reveal.active {
  transform: translateX(0px) !important;
  opacity: 1;
  transition: all 1s ease-in-out;
}

.project-links {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin-top: 4rem;
  }

  a {
    margin: 2rem auto;
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .step {
    flex-direction: column;
  }

  .screenshot img {
    width: 355px;
  }

  .opposite {
    flex-direction: column-reverse;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .step {
    flex-direction: column;
  }

  .screenshot img {
    width: 500px;
    height: 294px;
  }

  // p {
  //   font-size: 1.5rem;
  // }

  // .explanation {
  //   font-size: 1.3rem;
  // }

  .opposite {
    flex-direction: column-reverse;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  .step {
    flex-direction: column;
  }

  .screenshot img {
    width: 620px;
    height: 304px;
  }

  // p {
  //   font-size: 1.5rem;
  // }

  // .explanation {
  //   font-size: 1.3rem;
  // }

  .opposite {
    flex-direction: column-reverse;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
