// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$dark-gray: #0E0000;
$gray: #868686;
$light-gray: #F4F4F4;

:root {
  --color-bg: #FCF7F8;
  --color-text: #3d3d3d;
  --color-red: #A31621;
  --color-red2: #570000;
  --color-btn-bg: #CED3DC;
  --color-card-p: black;
  --color-textarea: #FCF7F8;
}

.dark {
  --color-bg: #191825;
  --color-text: #CED3DC;
  --color-red: #00EAD3;
  --color-btn-bg: white;
  --color-card-p: white;
  --color-textarea: #FCF7F8;

  .fa-github {
    color: #F4F4F4;
  }
}
