<div class="container">
  <h1 class="project-title">Haunted <span>Tours</span></h1>
  <div class="project-description">
    <p>Haunted Tours is a project that takes Airbnb as an inspiration and gives it an horror twist. Houses and apartments are replaced with horror tours that can be booked and/or hosted. </p>
  </div>
</div>
