<div class="container">
  <div class="title-btns">
    <h1 class="project-title">Hidden <span>Nerima</span> </h1>
    <a href="/index.html" class="home-btn"><i class="fa-solid fa-house"></i></a>
  </div>
  <div class="project-description">
    <p>Tokyo is full of less touristy places people usually ignore. Therefore, the goal of the Hidden Nerima project is to give the spotlight to hidden gems found around the Nerima Ward. </p>
  </div>
  <div class= "project-content">
    <div class="screenshot"></div>
    <div class="explanation"></div>
  </div>
</div>
<div class="dark-mode" onclick="changeIcon();">
  <i class="fa-solid fa-moon" id="change-mode"></i>
</div>
<%= javascript_include_tag "site" %>
<%= javascript_include_tag "projects" %>
